<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>Home Page</title>
<link rel="stylesheet" type="text/css" href="./styles/main.css"
	th:href="@{/styles/main.css}">
<script src="./javascript/main.js" th:src="@{/javascript/main.js}"></script>
</head>

<body class="bg">

	<header>
		<div class="header-content">
			<div class="header-home">
				<a th:href="@{/}"><img th:src="@{/images/check-list-64px.png}"
					alt="checklists" /></a> <a href="/index.html" th:href="@{/}"
					class="header-text title-font">Checklists</a>
			</div>
			<nav class="nav-buttons">
				<!-- Lists only available for users without accounts -->
				<div class="dropdown" sec:authorize="!isAuthenticated()">
					<span class="button-for-nav">Make a List &nbsp<img
						th:src="@{/images/down-arrow.png}" alt="dropdown-icon" /></span>
					<div class="dropdown-content">
						<a th:href="@{/todo}">To-Do List</a> <a th:href="@{/shopping}">Shopping
							List</a>
					</div>
				</div>
				<!-- Lists only available for users WITH accounts -->
				<div class="dropdown" sec:authorize="isAuthenticated()">
					<span class="button-for-nav">Make a List &nbsp<img
						th:src="@{/images/down-arrow.png}" alt="dropdown-icon" /></span>
					<div class="dropdown-content">
						<a th:href="@{/todouser/list-page}">To-Do List</a> <a th:href="@{/shoppinguser}">Shopping
							List</a>
					</div>
				</div>
				<a th:href="@{/about}" class="button-for-nav">About</a> <a
					th:href="@{/credits}" class="button-for-nav">Attribution</a>
				<!-- Login button, remove if user is signed in -->
				<a th:href="@{/login}" class="button-for-nav"
					sec:authorize="!isAuthenticated()">Sign In</a>

				<!-- Account actions dropdown. Visible if user is signed in -->
				<div class="dropdown" sec:authorize="isAuthenticated()">
					<span class="button-for-nav">Account &nbsp<img
						th:src="@{/images/down-arrow.png}" alt="dropdown-icon" /></span>
					<div class="dropdown-content">
						<a th:href="@{/userpage}">Profile</a> 
						<a th:href="@{/logout}">Logout</a>
					</div>
				</div>
			</nav>
		</div>
	</header>


	<div th:if="${param.logout}">
		<div>You have been logged out.</div>
	</div>

	<div class="body-section" style="min-height: 33px;">
		<div class="body-boxes">
			<div class="body-box-mid">
				<h1 class="title-font">Checklists</h1>
				<h3>The checklist for your browser</h3>
				<p>Make a checklist without downloading an app.</p>
				<br>
				<p>Choose one of the options below to start making your
					checklist</p>
				<br>
				<!-- Lists only available for users without accounts -->
				<nav class="nav-buttons" sec:authorize="!isAuthenticated()">
					<a th:href="@{/todo}" class="big-button">To-Do List</a> <a
						th:href="@{/shopping}" class="big-button">Shopping List</a>
				</nav>
			<!-- Lists only available for users with accounts -->
				<nav class="nav-buttons" sec:authorize="isAuthenticated()">
					<a th:href="@{/todouser/list-page}" class="big-button">To-Do List</a> <a
						th:href="@{/shoppinguser}" class="big-button">Shopping List</a>
				</nav>
				<br>
				<p sec:authorize="!isAuthenticated()">If you want to save your to-do lists, 
								<span style="font-weight: bold;"><a class="a-color-link" th:href="@{/register/registration-form}">sign up</a> </span> or                              
                                <span style="font-weight: bold;"><a class="a-color-link" th:href="@{/login}">login.</a></span></p>
			</div>
		</div>
	</div>

	<footer>@2022</footer>

</body>

</html>
