<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>Register</title>
<link rel="stylesheet" type="text/css" href="./styles/main.css"
	th:href="@{/styles/main.css}">
<script src="./javascript/main.js" th:src="@{/javascript/main.js}"></script>
</head>

<body class="bg">
	<div class="body-section">
		<div class="body-boxes">
			<!--             <div class="body-box-side" style="background-color: black;"></div> -->
			<div id="register-body-box-mid" class="body-box-mid">
				<div class="text-container-1">
					<h3>Sign Up</h3>

					<br>
					<form class="text-container-1" th:action="@{/register/registered}"
						th:object="${user}" method="post">

						<!-- Successful registration message -->
						<div th:if="${param.success}">
							<div>You've successfully registered. Welcome to Checklists!
								Sign in to start saving your lists.</div>
						</div>

						<!-- User name already exists error -->
						<p th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation
							Error</p>
						<p class="error-message"
							th:each="error : ${#fields.errors('confirmPassword')}"
							th:text="${error}">Validation error</p>

						<!--  User Name -->
						<div class="form-section-1">
							<label for="name">Account Name</label> <input class="user-name"
								type="text" id="name" autofocus="autofocus" placeholder="Enter Your User Name"
								size="30" required th:field="*{name}" />
						</div>
						<br>
						<!--  Email -->
						<div class="form-section-1">
							<label for="email">Email</label> <input type="email" id="email"
								placeholder="Enter Your Email" size="30" required
								th:field="*{email}" />
						</div>
						<br>
						<!--  Password -->
						<div class="form-section-1">
							<label for="password">Password <span
								style="font-size: smaller;">(8 characters or more)</span></label> <input
								type="password" id="password" name="password"
								placeholder="Enter Your Password" minlength="8" required
								th:field="*{password}" />
						</div>
						<br>
						<!--  Confirm Password -->
						<div class="form-section-1"
							th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
							<label for="confirm-password">Confirm Password</label> <input
								type="password" id="confirm-password"
								placeholder="Confirm Password" required
								th:field="*{confirmPassword}" />
						</div>
						<br>
						<!-- Submit -->
						<input type="submit" value="Submit" class="submit-button"
							onclick="confirmPassValidate()">
<!-- 						<input type="submit" value="Submit"> -->
					</form>
					<p class="bottom-text-flex">
						Already have an account? <span style="font-weight: bold;"><a
							class="a-color-link" th:href="@{/login}">Sign in.</a></span>
					</p>
				</div>
			</div>
			<!--             <div class="body-box-side" style="background-color: black;"></div> -->
		</div>
	</div>
</body>

</html>