<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>Your To-Do List</title>
<link rel="stylesheet" type="text/css" href="./styles/main.css"
	th:href="@{/styles/main.css}">
<script src="./javascript/main.js" th:src="@{/javascript/main.js}"></script>
</head>

<!-- <body class="bg" onload="displayHeader(), displayFooter(), displayToDoCounts()">
    Display Header
    <div id="header-place"></div> -->

<!-- <body class="bg" onload="displayFooter(), displayToDoCounts()"> -->
<body class="bg" onload="displayFooter()">

	<header>
		<div class="header-content">
			<div class="header-home">
				<a th:href="@{/}"><img th:src="@{/images/check-list-64px.png}"
					alt="checklists" /></a> <a th:href="@{/}"
					class="header-text title-font">Checklists</a>
			</div>
			<nav class="nav-buttons">
				<!-- Lists only available for users without accounts -->
				<div class="dropdown" sec:authorize="!isAuthenticated()">
					<span class="button-for-nav">Make a List &nbsp<img
						th:src="@{/images/down-arrow.png}" alt="dropdown-icon" /></span>
					<div class="dropdown-content">
						<a th:href="@{/todo}">To-Do List</a> <a th:href="@{/shopping}">Shopping
							List</a>
					</div>
				</div>
				<!-- Lists only available for users WITH accounts -->
				<div class="dropdown" sec:authorize="isAuthenticated()">
					<span class="button-for-nav">Make a List &nbsp<img
						th:src="@{/images/down-arrow.png}" alt="dropdown-icon" /></span>
					<div class="dropdown-content">
						<a th:href="@{/todouser/list-page}">To-Do List</a> <a
							th:href="@{/shoppinguser}">Shopping List</a>
					</div>
				</div>
				<a th:href="@{/about}" class="button-for-nav">About</a> <a
					th:href="@{/credits}" class="button-for-nav">Attribution</a>
				<!-- Login button, remove if user is signed in -->
				<a th:href="@{/login}" class="button-for-nav"
					sec:authorize="!isAuthenticated()">Sign In</a>

				<!-- Account actions dropdown. Visible if user is signed in -->
				<div class="dropdown" sec:authorize="isAuthenticated()">
					<span class="button-for-nav">Account &nbsp<img
						th:src="@{/images/down-arrow.png}" alt="dropdown-icon" /></span>
					<div class="dropdown-content">
						<a th:href="@{/userpage}">Profile</a> <a th:href="@{/logout}">Logout</a>
					</div>
				</div>
			</nav>
		</div>
	</header>

	<div class="body-section" style="text-align: center;">
		<h2>To-Do List</h2>
		<br>
		<div class="list-section">
			<div class="list-info">
				<div>
					<!--Total number of tasks-->
					<span>Total # of Tasks: </span> <span id="num-of-tasks" th:text="${total}"> </span>
				</div>
				<div>
					<!--Number of completed tasks-->
					<span>Completed Tasks: </span> <span id="num-of-c-tasks" th:text="${completed}"></span>
				</div>
				<!--Number of uncompleted tasks-->
				<div>
					<span>Uncompleted Tasks: </span> <span id="num-of-u-tasks" th:text="${uncompleted}"></span>
				</div>
			</div>
			<!--List Display-->
			<div class="checklist-container">
				<table id="todo-table">
					<tr>
						<th class="click-column" style="width: 15%;">Completed</th>
						<th class="task-column">Task</th>
						<th class="click-column" style="width: 15%;">Remove</th>
					</tr>
					<!-- Tasks from DB -->
					<tr th:each="taskRow: ${taskList}">
						<td class="click-column" style="width: 15%;">
						<!-- Checkbox -->
							<form th:action="@{/todouser/update(taskId=${taskRow.id})}" th:object="${task}" method="post">
								<input style = "width: 25px; height: 25px" type="checkbox" name="checkbox"
									th:checked="${taskRow.checkbox}" onChange = 'this.form.submit()'/>
							</form>
						</td>
						<td class="task-column" th:text="${taskRow.taskDesc}" />
						<td class="click-column" style="width: 15%;">
						<!-- Remove button -->
							<form th:action="@{/todouser/remove(taskId=${taskRow.id})}"
								th:object="${task}" method="post">
								<input type="submit" value="Remove" />
							</form>
						</td>
					</tr>
				</table>
			</div>
			<!--User input-->
			<div class="input-section-todo">
				<div class="form-section">
					<label for="task">New Task:</label>
					<!--Instead of submitting, pressing enter executes addRowToDo()-->
					<form class="text-input" th:action="@{/todouser/add}"
						th:object="${task}" method="post">
						<!--User input-->
						<input th:field="*{taskDesc}" type="text" name=task id=task
							required minlength="1" maxlength="64">
						<!--User submits items that gets added to the list-->
						<!--                         <input type="button" id="addBtn" class="square-button" value="+"
                                onclick="addRowToDo()" /> -->
						<input type="submit" id="addBtn" class="square-button" value="+" />
					</form>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<!--Display center-->
	<div id="footer-place"></div>
</body>

</html>

<!-- onkeypress="enterForRows(event, 'todo-table')" -->